<div class="jumbotron text-center">
    <br />
    <h1>My Bookings</h1>
    <br /><br />
    <table class="table table-hover table-striped tableDisplay" ng-model="Bookings" ng-init="getBookings()" >
        <thead class="table-bordered">
        <tr>
            <th>Id.Booking</th>
            <th>Transferred</th>
            <th>Bid</th>
            <th>Invoiced</th>
            <th>Id.Company</th>
            <th>Id.Recurring.Booking</th>
            <th>Id.Booking.Charge</th>
            <th>Id.Payment</th>
            <th>Id.Driver.to.Car</th>
            <th>Id.Client</th>
            <th>Id.Car.Type</th>
            <th>Id.Web.Booker</th>
            <th>Id.Ref</th>
            <th>Id.Pickup.Zone</th>
            <th>Id.Dropoff.Zone</th>
            <th>Id.Voucher</th>
            <th>Id.User</th>
            <th>Id.Shuttle</th>
            <th>Id.Service</th>
            <th>Order.Number</th>
            <th>Client.Name</th>
            <th>Client.Email</th>
            <th>Client.Mobile</th>
            <th>Client.Alternative.Mobile</th>
            <th>Booking.Type</th>
            <th>Source</th>
            <th>Status</th>
            <th>Payment.Method</th>
            <th>Observations</th>
            <th>Op.Observations</th>
            <th>Cancel.Reason</th>
            <th>Send.to.Driver.account</th>
            <th>Flight.Type</th>
            <th>Landing.Flight.time</th>
            <th>Landing.Flight.number</th>
            <th>Airline.name</th>
            <th>Departure.City</th>
            <th>Pickup.Duration.Delay</th>
            <th>Waiting.time</th>
            <th>Display.name</th>
            <th>Pickup.time</th>
            <th>Dropoff.time</th>
            <th>Pickup.address</th>
            <th>Dropoff.address</th>
            <th>Journey.waypoints</th>
            <th>Pickup.details</th>
            <th>Dropoff.details</th>
            <th>Passenger.name</th>
            <th>Passenger.email</th>
            <th>Passenger.alternative.mobile</th>
            <th>Passenger.mobile</th>
            <th>Passengers.number</th>
            <th>Checkin.luggage</th>
            <th>Hand.luggage</th>
            <th>Infant.seats.number</th>
            <th>Child.seats.number</th>
            <th>Booster.seats.number</th>
            <th>Wheelchair</th>
            <th>Journey.type</th>
            <th>Journey.distance</th>
            <th>Duration</th>
            <th>Pickup.lat</th>
            <th>Pickup.lng</th>
            <th>Dropoff.lat</th>
            <th>Dropoff.lng</th>
            <th>Price.type</th>
            <th>Optional.details</th>
            <th>Created.at</th>
            <th>Updated.at</th>
            <th>Passenger.ready</th>
        </tr>
        </thead>

        <tr ng-repeat="x in Bookings" class="tableBookingcolor">
            <td>{{x.id_booking}}</td>
            <td>{{x.transferred}}</td>
            <td>{{x.bid}}</td>
            <td>{{x.invoiced}}</td>
            <td>{{x.id_company}}</td>
            <td>{{x.id_recurring_booking}}</td>
            <td>{{x.id_booking_charge}}</td>
            <td>{{x.id_payment}}</td>
            <td>{{x.id_driver_to_car}}</td>
            <td>{{x.id_client}}</td>
            <td>{{x.id_car_type}}</td>
            <td>{{x.id_web_booker}}</td>
            <td>{{x.id_ref}}</td>
            <td>{{x.id_pickup_zone}}</td>
            <td>{{x.id_dropoff_zone}}</td>
            <td>{{x.id_voucher}}</td>
            <td>{{x.id_user}}</td>
            <td>{{x.id_shuttle}}</td>
            <td>{{x.id_service}}</td>
            <td>{{x.order_number}}</td>
            <td>{{x.client_name}}</td>
            <td>{{x.client_email}}</td>
            <td>{{x.client_mobile}}</td>
            <td>{{x.client_alternative_mobile}}</td>
            <td>{{x.booking_type}}</td>
            <td>{{x.source}}</td>
            <td>{{x.status}}</td>
            <td>{{x.payment_metdod}}</td>
            <td>{{x.observations}}</td>
            <td>{{x.op_observations}}</td>
            <td>{{x.cancel_reason}}</td>
            <td>{{x.send_to_driver_account}}</td>
            <td>{{x.flight_type}}</td>
            <td>{{x.landing_flight_time}}</td>
            <td>{{x.landing_flight_number}}</td>
            <td>{{x.airline_name}}</td>
            <td>{{x.departure_city}}</td>
            <td>{{x.pickup_duration_delay}}</td>
            <td>{{x.waiting_time}}</td>
            <td>{{x.display_name}}</td>
            <td>{{x.pickup_time}}</td>
            <td>{{x.dropoff_time}}</td>
            <td>{{x.pickup_address}}</td>
            <td>{{x.dropoff_address}}</td>
            <td>{{x.journey_waypoints}}</td>
            <td>{{x.pickup_details}}</td>
            <td>{{x.dropoff_details}}</td>
            <td>{{x.passenger_name}}</td>
            <td>{{x.passenger_email}}</td>
            <td>{{x.passenger_alternative_mobile}}</td>
            <td>{{x.passenger_mobile}}</td>
            <td>{{x.passengers_number}}</td>
            <td>{{x.checkin_luggage}}</td>
            <td>{{x.hand_luggage}}</td>
            <td>{{x.infant_seats_number}}</td>
            <td>{{x.child_seats_number}}</td>
            <td>{{x.booster_seats_number}}</td>
            <td>{{x.wheelchair}}</td>
            <td>{{x.journey_type}}</td>
            <td>{{x.journey_distance}}</td>
            <td>{{x.duration}}</td>
            <td>{{x.pickup_lat}}</td>
            <td>{{x.pickup_lng}}</td>
            <td>{{x.dropoff_lat}}</td>
            <td>{{x.dropoff_lng}}</td>
            <td>{{x.price_type}}</td>
            <td>{{x.optional_details}}</td>
            <td>{{x.created_at}}</td>
            <td>{{x.updated_at}}</td>
            <td>{{x.passenger_ready}}</td>
        </tr>
    </table>


</div>

