
<div id="login">
    <form>
        <label>Email:</label><input type="email" ng-model="email" required></br>
        <label>Password:</label><input type="password" ng-model="password" required></br>
        <button class="btn btn-large btn-info" type="submit" ng-click="sendCredentials()">Login</button>
    </form>

</div>
